.footer {
  background-color: #f7ca18;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.footerItem {
  margin: 50px;
}
