.list {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  margin: 20px auto;
  margin-top: 20px;
}
.item {
  width: 500px;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}
.itemName {
  font-weight: bold;

  padding: 20px;
}
.line {
  border: 1px solid #f4f4f4;
}
.deleteButton {
  float: right;
  padding: 12 px 20px;
  border: none;
  background-color: #f7ca18;
  color: white;
  margin-top: -5px;
  width: 25px;
  align-content: center;
  margin: 3px;
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
